In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import f_oneway
import warnings
warnings.filterwarnings('ignore')

In [2]:
accident = pd.read_csv('datasets//accident_data.csv')

In [3]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,5/6/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2/7/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,3/9/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18-02-2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21-02-2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23-02-2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23-02-2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28-02-2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

In [4]:
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [5]:
accident['Latitude'] = accident['Latitude'].fillna(accident['Latitude'].mode()[0])
accident['Longitude'] = accident['Longitude'].fillna(accident['Longitude'].mode()[0])
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].fillna('unknown condition')
accident['Road_Type'] = accident['Road_Type'].fillna(accident['Road_Type'].mode()[0])
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].fillna(accident['Urban_or_Rural_Area'].mode()[0])
accident['Weather_Conditions'] = accident['Weather_Conditions'].fillna('unknown weather')

In [6]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

In [7]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660679 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660679 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  660679 non-null  object
 10  Road_Type                660679 non-null  object
 11  Urban_or_Rural_Area      660679 non-null  object
 12  Weather_Conditions       660679 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB

In [8]:
accident['Accident_Severity'] = accident['Accident_Severity'].astype('category')
accident['Light_Conditions'] = accident['Light_Conditions'].astype('category')
accident['Latitude'] = accident['Latitude'].astype('category')
accident['District Area'] = accident['District Area'].astype('category')
accident['Longitude'] = accident['Longitude'].astype('category')
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].astype('category')
accident['Road_Type'] = accident['Road_Type'].astype('category')
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].astype('category')
accident['Weather_Conditions'] = accident['Weather_Conditions'].astype('category')
accident['Vehicle_Type'] = accident['Vehicle_Type'].astype('category')

In [9]:
accident.dtypes

Index                        object
Accident_Severity          category
Accident Date                object
Latitude                   category
Light_Conditions           category
District Area              category
Longitude                  category
Number_of_Casualties          int64
Number_of_Vehicles            int64
Road_Surface_Conditions    category
Road_Type                  category
Urban_or_Rural_Area        category
Weather_Conditions         category
Vehicle_Type               category
dtype: object

In [10]:
accident['Accident Date'] = accident['Accident Date'].astype('str')
accident['Accident Date'] = accident['Accident Date'].str.strip()
accident['Accident Date'] = accident['Accident Date'].str.replace('/','-')

In [11]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'],dayfirst=True,errors = 'coerce')

In [12]:
accident['Year'] = accident['Accident Date'].dt.year
accident['Month'] = accident['Accident Date'].dt.month
accident['DayofWeek'] = accident['Accident Date'].dt.dayofweek

In [13]:
accident['Year'] = accident['Year'].astype('category')
accident['Month'] = accident['Month'].astype('category')
accident['DayofWeek'] = accident['DayofWeek'].astype('category')

In [14]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  category
 2   Accident Date            660679 non-null  datetime64[ns]
 3   Latitude                 660679 non-null  category
 4   Light_Conditions         660679 non-null  category
 5   District Area            660679 non-null  category
 6   Longitude                660679 non-null  category
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  660679 non-null  category
 10  Road_Type                660679 non-null  category
 11  Urban_or_Rural_Area      660679 non-null  category
 12  Weather_Conditions       660679 non-null  category
 13  Vehicle_Type             660679 non-null  category
 14  Year                     660679 non-null  category
 15  Month                    660679 non-null  category
 16  DayofWeek                660679 non-null  category
dtypes: category(13), datetime64[ns](1), int64(2), object(1)
memory usage: 73.0+ MB

In [15]:
accident.describe()

                       Accident Date  Number_of_Casualties  Number_of_Vehicles
count                         660679         660679.000000       660679.000000
mean   2020-11-30 08:30:32.761749760              1.357040            1.831255
min              2019-01-01 00:00:00              1.000000            1.000000
25%              2019-11-27 00:00:00              1.000000            1.000000
50%              2020-11-13 00:00:00              1.000000            2.000000
75%              2021-11-17 00:00:00              1.000000            2.000000
max              2022-12-31 00:00:00             68.000000           32.000000
std                              NaN              0.824847            0.715269

In [16]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type,Year,Month,DayofWeek
0,200701BS64157,Serious,2019-06-05,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car,2019,6,2
1,200701BS65737,Serious,2019-07-02,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car,2019,7,1
2,200701BS66127,Serious,2019-08-26,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,Single carriageway,Urban,unknown weather,Taxi/Private hire car,2019,8,0
3,200701BS66128,Serious,2019-08-16,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats),2019,8,4
4,200701BS66837,Slight,2019-09-03,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,Single carriageway,Urban,unknown weather,Other vehicle,2019,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,2022-02-18,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car,2022,2,4
660675,201091NM01881,Slight,2022-02-21,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car,2022,2,0
660676,201091NM01935,Slight,2022-02-23,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car,2022,2,2
660677,201091NM01964,Serious,2022-02-23,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc,2022,2,2
660678,201091NM02142,Serious,2022-02-28,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car,2022,2,0

<H1>INSIGHTS</H1>

<h2>1. How many accidents are Fatal, Serious and Slight?</h2>
<h3>- There are 8661 Fatal accidents, while 88217 for serious accidents, and 563801 for slight accidents.</h3>

In [17]:
accident['Accident_Severity'].value_counts()

Accident_Severity
Slight     563801
Serious     88217
Fatal        8661
Name: count, dtype: int64

<h2>2. What year have the most accidents?</h2>
<h3>- Year 2019 have the most accidents with 182,115 records.</h3>

<h2>3. What year have the least accidents?</h2>
<h3>- Year 2022 have the most accidents with 144,419 records.</h3>

In [18]:
accident['Year'].value_counts()

Year
2019    182115
2020    170591
2021    163554
2022    144419
Name: count, dtype: int64

<h2>4. Do more accidents happen in the urban or rural area?</h2>
<h3>- More accidents happen in urban area with 421,678 records a total of 63.84%.</h3>

In [19]:
accident['Urban_or_Rural_Area'].value_counts()

Urban_or_Rural_Area
Urban          421678
Rural          238990
Unallocated        11
Name: count, dtype: int64

<h2>5. What district area has the most record of accidents?</h2>
<h3>- Birmingham has the most record of accidents with 13,491.</h3>

<h2>6. What district area has the least record of accidents?</h2>
<h3>- Clackmannanshire has the most record of accidents with 91.</h3>

In [20]:
accident['District Area'].value_counts()

District Area
Birmingham            13491
Leeds                  8898
Manchester             6720
Bradford               6212
Sheffield              5710
                      ...
Berwick-upon-Tweed      153
Teesdale                142
Shetland Islands        133
Orkney Islands          117
Clackmannanshire         91
Name: count, Length: 422, dtype: int64

<h2>7. What exact date has the most record of accidents?</h2>
<h3>- November 30 2019 has the most record of accidents.</h3>

<h2>8. What exact date has the least record of accidents?</h2>
<h3>- December 25 2020 has the least record of accidents.</h3>

In [21]:
accident['Accident Date'].value_counts()

Accident Date
2019-11-30    704
2019-01-31    697
2019-07-13    692
2021-11-13    692
2019-08-14    688
             ...
2022-12-30    171
2019-12-25    157
2022-12-25    145
2022-01-10    123
2020-12-25    118
Name: count, Length: 1461, dtype: int64

<h2>9. Does more fatal accidents happen in the urban or rural?</h2>
<h3>- There is more fatal accidents in rural area than the urban area.</h3>

In [22]:
fatalsaurbanorural = accident.groupby(['Accident_Severity','Urban_or_Rural_Area']).size()
fatalsaurbanorural.unstack()

Urban_or_Rural_Area   Rural  Unallocated   Urban
Accident_Severity
Fatal                  5601            0    3060
Serious               37312            1   50904
Slight               196077           10  367714

<h2>10. Do accidents with more number of vehicles make fatal accidents than less number of vehicles?</h2>
<h3>- No, fatal accidents are more likely to happen with less number of vehicles.</h3>

In [23]:
fatalsavehicles = accident.groupby(['Accident_Severity','Number_of_Vehicles']).size()
fatalsavehicles.unstack()

Number_of_Vehicles,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,19,28,32
Accident_Severity,,,,,,,,,,,,,,,,,,,
Fatal,3885,3467,900,272,70,28,17,12,1,2,2,0,0,3,0,1,0,1,0
Serious,38940,41578,5808,1340,326,121,63,25,5,5,0,2,2,0,0,1,1,0,0
Slight,157962,346950,46098,9688,2068,609,216,110,51,20,10,5,4,6,1,2,0,0,1

<h2>11. Which vehicle type is in the most dangerous accidents?</h2>
<h3>- Car is the most dangerous vehicle type with a total of 75.94% records of fatal accidents.</h3>

In [24]:
fatalsavehicles = accident.groupby(['Accident_Severity','Vehicle_Type']).size()
fatalsavehicles.unstack()

Vehicle_Type,Agricultural vehicle,Bus or coach (17 or more pass seats),Car,Data missing or out of range,Goods 7.5 tonnes mgw and over,Goods over 3.5t. and under 7.5t,Minibus (8 - 16 passenger seats),Motorcycle 125cc and under,Motorcycle 50cc and under,Motorcycle over 125cc and up to 500cc,Motorcycle over 500cc,Other vehicle,Pedal cycle,Ridden horse,Taxi/Private hire car,Van / Goods 3.5 tonnes mgw or under
Accident_Severity,,,,,,,,,,,,,,,,
Fatal,21,325,6577,0,216,67,29,189,95,105,339,70,6,0,155,467
Serious,282,3373,66461,0,2321,857,276,2031,1014,1014,3457,767,39,0,1771,4554
Slight,1644,22180,424954,6,14770,5172,1671,13049,6494,6537,21861,4800,152,4,11368,29139

In [25]:
accident['Accident_Severity'].value_counts()

Accident_Severity
Slight     563801
Serious     88217
Fatal        8661
Name: count, dtype: int64

<h2>12. How many cars are usually in an accident?</h2>
<h3>- Usually it consists of 2 vehicles in an accident.</h3>

In [26]:
accident['Number_of_Vehicles'].value_counts()

Number_of_Vehicles
2     391995
1     200787
3      52806
4      11300
5       2464
6        758
7        296
8        147
9         57
10        27
11        12
14         9
12         7
13         6
16         4
28         1
15         1
32         1
19         1
Name: count, dtype: int64

<h2>13. Do accidents with more casualties have higher severity?</h2>
<h3>- No, the less casulaties the higher severity.</h3>

In [27]:
casualtiesofseverity = accident.groupby(['Accident_Severity','Number_of_Casualties']).size()
casualtiesofseverity.unstack()

Number_of_Casualties,1,2,3,4,5,6,7,8,9,10,...,29,32,40,42,43,45,47,48,62,68
Accident_Severity,,,,,,,,,,,,,,,,,,,,,
Fatal,4843,2005,886,452,240,122,54,17,13,7,...,0,0,1,1,0,0,0,1,1,1
Serious,64271,14495,5266,2357,1037,459,157,68,33,17,...,2,0,0,1,0,1,0,0,0,0
Slight,434927,91471,24624,8347,2846,944,328,129,66,34,...,1,1,1,0,1,0,1,0,0,0

<h2>14. Are accidents more common at night or during the day?</h2>
<h3>- Accidents are more common during the day with 484,880 records or 73.39% overall.</h3>

In [28]:
accident['Light_Conditions'].value_counts()

Light_Conditions
Daylight                       484880
Darkness - lights lit          129335
Darkness - no lighting          37437
Darkness - lighting unknown      6484
Darkness - lights unlit          2543
Name: count, dtype: int64

In [29]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  category
 2   Accident Date            660679 non-null  datetime64[ns]
 3   Latitude                 660679 non-null  category
 4   Light_Conditions         660679 non-null  category
 5   District Area            660679 non-null  category
 6   Longitude                660679 non-null  category
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  660679 non-null  category
 10  Road_Type                660679 non-null  category
 11  Urban_or_Rural_Area      660679 non-null  category
 12  Weather_Conditions       660679 non-null  category
 13  Vehicle_Type             660679 non-null  category
 14  Year                     660679 non-null  category
 15  Month                    660679 non-null  category
 16  DayofWeek                660679 non-null  category
dtypes: category(13), datetime64[ns](1), int64(2), object(1)
memory usage: 73.0+ MB

<h2>15. On what year does motorcycles over 500cc has the most accident records?</h2>
<h3>- On 2019, there are 7,686 accident records of motorcycle over 500cc.</h3>

In [30]:
casualtiesofseverity = accident.groupby(['Year','Vehicle_Type']).size()
casualtiesofseverity.unstack()

Vehicle_Type,Agricultural vehicle,Bus or coach (17 or more pass seats),Car,Data missing or out of range,Goods 7.5 tonnes mgw and over,Goods over 3.5t. and under 7.5t,Minibus (8 - 16 passenger seats),Motorcycle 125cc and under,Motorcycle 50cc and under,Motorcycle over 125cc and up to 500cc,Motorcycle over 500cc,Other vehicle,Pedal cycle,Ridden horse,Taxi/Private hire car,Van / Goods 3.5 tonnes mgw or under
Year,,,,,,,,,,,,,,,,
2019,636,10483,130304,0,6247,2049,625,4313,2136,2446,7686,1588,68,1,4230,9303
2020,562,6709,127894,6,4528,1545,530,4104,1764,1925,6745,1533,63,0,3521,9162
2021,450,4155,128026,0,3569,1395,420,3273,1968,1915,6110,1420,40,2,2705,8106
2022,299,4531,111768,0,2963,1107,401,3579,1735,1370,5116,1096,26,1,2838,7589

<h2>16. Does bad weather cause more severe accidents?</h2>
<h3>- No, because the accidents are usually happened during fine weather with no high winds.</h3>

In [31]:
weatherseverity = accident.groupby(['Accident_Severity','Weather_Conditions']).size()
weatherseverity.unstack()

Weather_Conditions,Fine + high winds,Fine no high winds,Fog or mist,Other,Raining + high winds,Raining no high winds,Snowing + high winds,Snowing no high winds,unknown weather
Accident_Severity,,,,,,,,,
Fatal,175,7100,82,165,145,848,3,36,107
Serious,1245,72046,483,1801,1261,9468,109,565,1239
Slight,7134,441739,2963,15184,8209,69380,773,5637,12782

<h2>16. What is the total number of casualties in rural areas in 2019?</h2>
<h3>- 100,320 total of casualties in rural areas 2019.</h3>

In [32]:
totalcasualtyrural2019 = accident.groupby(['Year','Urban_or_Rural_Area'])['Number_of_Casualties'].sum()
totalcasualtyrural2019.unstack()

Urban_or_Rural_Area   Rural  Unallocated   Urban
Year
2019                 100320            5  147455
2020                  91176            8  139721
2021                  87533            0  134613
2022                  74486            0  121251

<h2>17. Which road type had the most fatal accidents in 2020?</h2>
<h3>- Single carriageway had the most fatal accidents in 2020 with total of 1,770.</h3>

In [33]:
fatal2020roadtype = accident.groupby(['Road_Type','Accident_Severity','Year']).size()
fatal2020roadtype.unstack()

Year                                    2019    2020    2021   2022
Road_Type          Accident_Severity
Dual carriageway   Fatal                 557     494     403    361
                   Serious              3284    3124    2846   2492
                   Slight              24321   22177   20803  18562
One way street     Fatal                  31      27      25     12
                   Serious               458     452     392    353
                   Slight               3324    3070    2854   2561
Roundabout         Fatal                  33      38      43     28
                   Serious               953     930     966    816
                   Slight              10712   10397   10032   9044
Single carriageway Fatal                2070    1770    1581   1139
                   Serious             19465   18441   17661  14973
                   Slight             114933  107838  104250  92542
Slip road          Fatal                  23      12       5      9
                   Serious               162     174     132    143
                   Slight               1789    1647    1561   1384

<h2>18. Is there a correlation between number of vehicles and number of casualties?</h2>
<h3>- There is no correlation between number of vehicles and number of casualties.</h3>

In [34]:
vehiclescasualties = accident['Number_of_Vehicles'].corr(accident['Number_of_Casualties'])
vehiclescasualties

np.float64(0.22888886126927635)

<h2>19. What vehicle type have the most accidents during the month of december?</h2>
<h3>- Car has the most accident records during the month of december with the total of 38,980.</h3>

In [35]:
vehicleacddecember = accident.groupby(['Vehicle_Type','Month']).size()
vehicleacddecember.unstack()

Month,1,2,3,4,5,6,7,8,9,10,11,12
Vehicle_Type,,,,,,,,,,,,
Agricultural vehicle,154,149,174,146,184,142,178,155,157,181,174,153
Bus or coach (17 or more pass seats),2161,1965,2141,1912,2265,2204,2319,2037,2201,2282,2375,2016
Car,39751,37306,40677,39132,42547,42581,43343,40718,42525,44791,45641,38980
Data missing or out of range,0,0,1,0,0,0,0,0,0,4,0,1
Goods 7.5 tonnes mgw and over,1402,1284,1423,1394,1489,1437,1485,1424,1460,1571,1524,1414
Goods over 3.5t. and under 7.5t,527,446,477,492,496,520,574,503,501,543,564,453
Minibus (8 - 16 passenger seats),160,149,160,177,185,168,168,169,164,159,175,142
Motorcycle 125cc and under,1188,1193,1290,1131,1248,1304,1351,1244,1323,1401,1393,1203
Motorcycle 50cc and under,635,605,695,574,619,626,642,642,643,656,659,607
Motorcycle over 125cc and up to 500cc,623,583,680,580,669,677,673,580,672,702,658,559
Motorcycle over 500cc,2072,1871,2043,2032,2115,2154,2109,2117,2265,2375,2391,2113
Other vehicle,413,414,432,473,498,491,452,445,443,556,581,439
Pedal cycle,21,16,19,6,16,19,19,17,18,13,16,17
Ridden horse,2,0,0,1,0,0,0,1,0,0,0,0
Taxi/Private hire car,1081,953,1060,1037,1161,1190,1145,1050,1170,1238,1172,1037
Van / Goods 3.5 tonnes mgw or under,2682,2557,2814,2657,2860,2968,2987,2811,2913,3108,3101,2702

<h2>20. What specific day of week has the most accidents while riding a motorcycle with over 500cc?</h2>
<h3>- Saturday, with the total of 4,200 records.</h3>

In [36]:
vehicleday = accident.groupby(['Vehicle_Type','DayofWeek']).size()
vehicleday.unstack()

DayofWeek,0,1,2,3,4,5,6
Vehicle_Type,,,,,,,
Agricultural vehicle,195,276,294,300,305,322,255
Bus or coach (17 or more pass seats),2769,3802,3805,3961,3868,4140,3533
Car,54957,71242,75172,74941,73828,80558,67294
Data missing or out of range,0,0,2,0,1,2,1
Goods 7.5 tonnes mgw and over,1916,2484,2608,2529,2607,2828,2335
Goods over 3.5t. and under 7.5t,660,846,915,934,883,1016,842
Minibus (8 - 16 passenger seats),209,290,320,283,301,308,265
Motorcycle 125cc and under,1675,2215,2253,2306,2191,2543,2086
Motorcycle 50cc and under,834,1075,1082,1219,1160,1181,1052
Motorcycle over 125cc and up to 500cc,821,1129,1144,1177,1147,1209,1029
Motorcycle over 500cc,2792,3684,3927,3896,3748,4200,3410
Other vehicle,603,783,827,847,859,946,772
Pedal cycle,35,24,26,32,22,34,24
Ridden horse,0,1,1,2,0,0,0
Taxi/Private hire car,1488,1859,2062,2003,1950,2215,1717
Van / Goods 3.5 tonnes mgw or under,3726,4840,5120,5081,5030,5676,4687

<h2>21. How many records of taxi/Private hire car in birmingham? </h2>
<h3>- There are total of 504 records of accidents in birmingham while riding in taxie/private hire car.</h3>

In [37]:
taxicar = accident[accident['Vehicle_Type'] == 'Taxi/Private hire car']
taxicar.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13294 entries, 2 to 660642
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Index                    13294 non-null  object
 1   Accident_Severity        13294 non-null  category
 2   Accident Date            13294 non-null  datetime64[ns]
 3   Latitude                 13294 non-null  category
 4   Light_Conditions         13294 non-null  category
 5   District Area            13294 non-null  category
 6   Longitude                13294 non-null  category
 7   Number_of_Casualties     13294 non-null  int64
 8   Number_of_Vehicles       13294 non-null  int64
 9   Road_Surface_Conditions  13294 non-null  category
 10  Road_Type                13294 non-null  category
 11  Urban_or_Rural_Area      13294 non-null  category
 12  Weather_Conditions       13294 non-null  category
 13  Vehicle_Type             13294 non-null  category
 14  Year                     13294 non-null  category
 15  Month                    13294 non-null  category
 16  DayofWeek                13294 non-null  category
dtypes: category(13), datetime64[ns](1), int64(2), object(1)
memory usage: 41.0+ MB

In [38]:
taxibirmingham = taxicar[taxicar['District Area'] == 'Birmingham']
taxibirmingham

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type,Year,Month,DayofWeek
68532,200720D012901,Slight,2019-01-13,52.509191,Darkness - lights lit,Birmingham,-1.837302,2,2,Wet or damp,Dual carriageway,Urban,Fine no high winds,Taxi/Private hire car,2019,1,6
68558,200720D021603,Slight,2019-01-07,52.464809,Daylight,Birmingham,-1.859692,2,2,Wet or damp,Roundabout,Urban,Other,Taxi/Private hire car,2019,1,0
68560,200720D022301,Slight,2019-01-23,52.509280,Daylight,Birmingham,-1.836565,1,1,Dry,Dual carriageway,Urban,Fine no high winds,Taxi/Private hire car,2019,1,2
68571,200720D026703,Slight,2019-01-17,52.464898,Daylight,Birmingham,-1.858956,1,2,Dry,Single carriageway,Urban,Other,Taxi/Private hire car,2019,1,3
68583,200720D029703,Slight,2019-01-23,52.473275,Daylight,Birmingham,-1.806812,1,2,Dry,Single carriageway,Urban,Fine no high winds,Taxi/Private hire car,2019,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583484,201020W052360,Slight,2022-12-03,52.496496,Daylight,Birmingham,-1.900982,1,1,Frost or ice,Single carriageway,Urban,Snowing + high winds,Taxi/Private hire car,2022,12,5
583494,201020W053030,Slight,2022-12-07,52.504581,Daylight,Birmingham,-1.893745,1,1,Dry,Single carriageway,Urban,Fine no high winds,Taxi/Private hire car,2022,12,2
583587,201020Z002040,Slight,2022-05-29,52.514467,Daylight,Birmingham,-1.766697,3,3,Dry,Dual carriageway,Rural,Fine no high winds,Taxi/Private hire car,2022,5,6
583705,201020Z004320,Slight,2022-12-22,52.510125,Darkness - lights lit,Birmingham,-1.864410,1,2,Frost or ice,Dual carriageway,Urban,Other,Taxi/Private hire car,2022,12,3
583766,201020Z620211,Slight,2022-01-20,52.509143,Darkness - lights lit,Birmingham,-1.871043,2,2,Wet or damp,Dual carriageway,Urban,Fine no high winds,Taxi/Private hire car,2022,1,3

<h2>22. What type of light condition do taxi/private hire car usually accidents? </h2>
<h3>- The private hire car accidents usually happens during daylight also with total of 9,752 records.</h3>

In [39]:
accident['Light_Conditions'].value_counts()

Light_Conditions
Daylight                       484880
Darkness - lights lit          129335
Darkness - no lighting          37437
Darkness - lighting unknown      6484
Darkness - lights unlit          2543
Name: count, dtype: int64

In [40]:
taxicar['Light_Conditions'].value_counts()

Light_Conditions
Daylight                       9752
Darkness - lights lit          2658
Darkness - no lighting          704
Darkness - lighting unknown     131
Darkness - lights unlit          49
Name: count, dtype: int64

In [41]:
darknessaccidents = accident[accident['Light_Conditions'] == 'Darkness - lights lit']
darknessaccidents

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type,Year,Month,DayofWeek
0,200701BS64157,Serious,2019-06-05,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car,2019,6,2
4,200701BS66837,Slight,2019-09-03,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,Single carriageway,Urban,unknown weather,Other vehicle,2019,9,1
7,200701BS67370,Fatal,2019-10-03,51.482260,Darkness - lights lit,Kensington and Chelsea,-0.179486,3,2,Dry,Single carriageway,Urban,Fine no high winds,Car,2019,10,3
8,200701BS67515,Slight,2019-10-31,51.493319,Darkness - lights lit,Kensington and Chelsea,-0.173572,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car,2019,10,3
10,200701BS67644,Serious,2019-10-09,51.491944,Darkness - lights lit,Kensington and Chelsea,-0.171898,1,2,Dry,Single carriageway,Urban,Fine no high winds,Goods 7.5 tonnes mgw and over,2019,10,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660641,201091NL04969,Slight,2022-09-04,60.151776,Darkness - lights lit,Shetland Islands,-1.148217,1,3,Dry,Single carriageway,Rural,Fine no high winds,Car,2022,9,6
660642,201091NL05068,Slight,2022-09-09,60.157212,Darkness - lights lit,Shetland Islands,-1.155823,1,1,Wet or damp,Single carriageway,Rural,Raining + high winds,Taxi/Private hire car,2022,9,4
660646,201091NL05987,Slight,2022-10-26,60.148990,Darkness - lights lit,Shetland Islands,-1.134061,2,1,Wet or damp,Single carriageway,Rural,Raining no high winds,Goods 7.5 tonnes mgw and over,2022,10,2
660651,201091NL06820,Slight,2022-12-04,60.154438,Darkness - lights lit,Shetland Islands,-1.143285,1,1,Dry,Single carriageway,Rural,Fine no high winds,Car,2022,12,6
660670,201091NM00939,Slight,2022-01-25,57.574536,Darkness - lights lit,Highland,-3.892627,1,2,Dry,Single carriageway,Rural,Fine no high winds,Car,2022,1,1

In [42]:
taxicar['District Area'].value_counts()

District Area
Birmingham                   504
Westminster                  219
Glasgow City                 142
Leeds                        135
Kensington and Chelsea       132
                            ...
Clackmannanshire               2
Orkney Islands                 2
Chester-le-Street              1
London Airport (Heathrow)      1
Oswestry                       0
Name: count, Length: 422, dtype: int64

In [43]:
accident[accident['District Area'] == 'Westminster'].count()

Index                      5706
Accident_Severity          5706
Accident Date              5706
Latitude                   5706
Light_Conditions           5706
District Area              5706
Longitude                  5706
Number_of_Casualties       5706
Number_of_Vehicles         5706
Road_Surface_Conditions    5706
Road_Type                  5706
Urban_or_Rural_Area        5706
Weather_Conditions         5706
Vehicle_Type               5706
Year                       5706
Month                      5706
DayofWeek                  5706
dtype: int64